body{
    background-color: #f8f9fa;
}

.navbar{
    box-shadow: 0px 3px 11px rgba(0,0,0,0.07);
    height: 90px;
}

.navbar-brand{
    font-size: 43px;
    letter-spacing: 0px;
    color: #6495ed !important;
}

.name-option a.dropdown-toggle{
    color: #000000 !important;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}


.main-cart .cart{
    width: 100%;
    height: 140px;
    border-radius: 20px;
}

.main-cart .cart .cart-icon{
    height: 140px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-cart .cart .cart-icon i{
    color: #fff;
    font-size: 52px;
}
.main-cart .cart .cart-title{
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    text-align: right;
    margin-top: 14px;
}

.main-cart .cart .cart-num{
    font-size: 41px;
    color: #ffffff;
    font-weight: 600;
    text-align: right;
}

.fast-buttons{
    filter: drop-shadow(0 0 3.5px rgba(0,0,0,0.04));
    background-color: #ffffff;
}

.fast-buttons .fast-button-title{
    border-right: 3px solid red;
}

.fast-buttons .fast-button-title span{
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 10px;
    font-size: 20px;
    color: #161616;
    font-weight: 400;
    text-align: right;
}

.fast-buttons .buttons{
    filter: drop-shadow(0 0 3.5px rgba(0,0,0,0.04));
    border-top: 1px solid #707070;
}

.fast-buttons .buttons div div{
    margin: 0;
    padding: 0;
}

.fast-buttons .buttons div div .fast-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-left: 1px solid #707070;
    height: 193px;
}
.fast-buttons .buttons div div:last-child .fast-button{
    border-left: none;
}

.fast-button a{
    text-decoration: none;
}

.fast-button a i{
    font-size: 68px;
    border-radius: 3px;
}

.fast-button a p{
    font-size: 17px;
    color: #161616;
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}
@media (max-width: 992px) {
    .fast-buttons .buttons div div:nth-child(2) .fast-button{
        border-left: none;
    }
    .fast-buttons .buttons div div:nth-child(3) .fast-button{
        border-top: 1px solid #707070;
    }
    .fast-buttons .buttons div div:nth-child(4) .fast-button{
        border-top: 1px solid #707070;
    }
}

.levels{
    background-color: #fff;
    border-radius: 8px;
    filter: drop-shadow(0 0 3.5px rgba(0,0,0,0.04));
}

.levels ul.nav{
    justify-content: space-between;
    border-bottom: 1px solid #707070;
}

.levels ul.nav li button{
    width: 150px;
    height: 40px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #707070;
    color: #000;
}

.levels ul.nav li button.active{
    background-color: #6495ed;
    border-color:  #6495ed;
    color: #fff;
}

.levels .level-head{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: #6495ed;
}

.levels .level-head .body{
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.levels .level-head span{
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    text-align: center  ;
}

.levels .level-body {
    border-bottom: 2px solid #707070;
    padding: 10px 0 ;
}
.levels .level-body {
    border-bottom: 2px solid #707070;
    padding: 10px 0 ;
}

.levels .level-body .body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.levels .level-body .group p{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    color: #161616;
    font-weight: 400;
}

.levels .level-body .student-num{
    font-size: 20px;
    line-height: 30px;
    color: #161616;
    font-weight: 400;
    justify-content: center;
    display: flex;
    align-items: center;
}

.levels .level-body .level span{
    font-size: 25px;
    color: #6495ed;
    font-weight: 600;
}

.new-students{
    border-radius: 8px;
    filter: drop-shadow(2px 0px 3.5px rgba(0,0,0,0.04));
    background-color: #ffffff;
    height: 100%;
}

.new-students p{
    font-size: 20px;
    color: #161616;
    font-weight: 400;
}

.new-students .student-cart{
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #707070;
    padding: 10px;
}

.new-students .student-data{
    font-size: 12px;
    color: #161616;
    font-weight: 400;
    text-align: right;
    margin-right: 10px;
}

.new-students .student-detail{
    font-size: 12px;
    color: #161616;
    font-weight: 400;
    text-align: right;
    margin-right: 10px;
}

.student-buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.student-buttons .btn-true{
    width: 69px;
    height: 25px;
    border-radius: 4px;
    background-color: #6495ed;
    padding: 0;
    color: #fff;
}

.student-buttons .btn-false{
    width: 69px;
    height: 25px;
    border-radius: 4px;
    background-color: #fff;
    padding: 0;
    color: #000;
    border: 1px solid #707070;
}